.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
  margin: 0px;
  overflow: hidden;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #f5f5f5;
}

#footer p {
  margin: 0;
  font-size: 16px;
}

circle {
  fill: steelblue;
  opacity: 0.85;
}

text {
  font-size: 1em;
}

.axis-label {
  font-size: 2em;
}

#menus {
  text-allign: center;
  font-size: 1.00em;
}

#menus select {
  font-size: 1.25em;
}

#menus select option {
  font-size: 1.00rem;
}
